<div id="preloader"></div>

<header aria-label="header">
  <ul id="headerSocial">
    {{ partial "social.html" . }}
  </ul>

  {{/*
  <nav role="navigation" aria-label="menu">
    <a href="javascript:void(0)" id="toggle-menu"
      ><i class="fa fa-bars"></i>&nbsp; Menu</a
    >
    <ul>
      {{ partial "menu.html" . }}
      <li>
        <a href="#formSection" class="button">Button &rsaquo;</a>
      </li>
    </ul>
  </nav>
  */}}
  <span class="announcement">Election Runoff May 26th!</span>
</header>
